@{
    Layout = "_Layout";
}

<div class="container centralizar-erro">
    <div class="row justify-content-center w-100">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4 text-danger"><i class="bi bi-exclamation-triangle"></i> Ops...</h1>
            <p class="fs-5 mb-4">Ocorreu um erro inesperado durante a ação. Tente novamente!</p>
            <a asp-action="Index" class="btn btn-primary btn-lg mt-3">Voltar</a>
        </div>
    </div>
</div>
